.portfolio {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  height: 100vh;
  padding: 20px;
  

  h1 {
      text-align: center;
      padding-top: 100px;
  }

  .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      justify-items: center;
      padding-top: 100px;

      .block {
          background-color: #f0f0f0;
          padding: 20px;
          border-radius: 10px;
          text-align: center;
          width: 50%;
          aspect-ratio: 1 / 1; // Makes the block square
      }
  }
}

// Media queries for responsiveness
@media (max-width: 600px) {
  .portfolio {
      .grid {
          grid-template-columns: 1fr;
      }
  }
}